**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.DS_Store
bin/
bin-int/
.vs/
.vscode
.idea/
thirdParty/bin/
thirdParty/bin-int/
thirdParty/spdlog
editor/imgui_log.txt
Quirk.sln.DotSettings.user
