[submodule "thirdParty/logging"]
	path = thirdParty/logging
	url = git@github.com:gabime/spdlog.git
[submodule "thirdParty/Glfw"]
	path = thirdParty/Glfw
	url = git@github.com:glfw/glfw.git
[submodule "thirdParty/gui"]
	path = thirdParty/gui
	url = git@github.com:ocornut/imgui.git
